@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html {
    min-height: 100vh;
}

body {
    height: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: lightgrey;
}

.heading-home {
    color: black;
}

.heading-home:hover {
    opacity: 0.4;
    transition: 0.4s;
}

header {
    width: 100%;
    padding: 25px 0;
}

.header-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.header-container h1 {
    font-weight: 700;
    font-size: 53px;
    font-family: 600;
}

.header-container nav {
    margin: 20px 0;
}

.nav-menu {
    max-width: 40%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.nav-link {
    color: lightgrey;
    padding: 0 8px;
    font-size: 12px;
    letter-spacing: 2px;
    transition: 0.4s;
}

.nav-link:hover, .active {
    color: black;
}

.social-media-links {
    margin: 0 auto;
    max-width: 728px;
    padding: 10px;
    text-align: center;
}

.social-md-icon {
    width: 20px;
    max-width: 100%;
    margin: 0 4px 0 4px;
}

.social-md-icon:hover {
    opacity: 0.5;
    cursor: pointer;
    transition: 0.3s;
}

.footer p { 
    text-align: center;
    color: grey;
    font-size: 12px;
    line-height: 20px; 
}

.category-link:hover {
    transition: 0.3s;
    color: rgb(235, 216, 216);
}
 .footer {
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 1px solid lightgrey;
    padding: 35px 50px;
}

/***** Index page *****/
.blog-container {
    width: 95%;
    margin: 0 auto;
    text-align: center;
}

.blog-item {
    padding-bottom: 52px;
    margin-bottom: 52px;
}

.blog-item-img {
    display: block;
    max-width: 100%;
}

.blog-item-img:hover {
    cursor: pointer;
    transition: 0.3s;
    opacity: 0.8;
}

.blog-item-information-container {
    max-width: 80%;
    margin: 0 auto;
}

.blog-item-information {
    margin: 25px;
}

.blog-item-information h3 {
    font-weight: 500;
    color: rgba(0, 0, 0, 0.74);
    margin-bottom: 12px;
}

.blog-item-information p {
    font-weight: 400;
    color: lightgrey;
    font-size: 12px;
    letter-spacing: 1px;
}

.blog-item-text {
    text-align: left;
    color: grey;
    font-size: 13.5px;
    line-height: 22px;
    margin-bottom: 40px;
}

.read-more-link {
    display: block;
    color: grey;
    font-size: 12px;
    line-height: 22px;
    margin-top: 55px;
    transition: 0.3s;
}

.read-more-link:hover {
    color: lightgrey;
}

/***** Index page *****/

/***** About Us page *****/
.content-container {
    width: 100%;
    padding: 10px;
    margin-bottom: 2.5rem;
}

.img-wrapper {
    width: 40%; 
    margin: 0 auto;
    margin-bottom: 1rem;
}

.about-us-img {
    max-width: 100%;
    border-radius: 50%;
}

.description-wrapper {
    width: 80%;
    margin: 0 auto;
}

.description-wrapper h3 {
    text-align: center;
    margin-bottom: 1.3rem;
    font-size: 25px;
    word-spacing: 2px;
}

.description-wrapper p {
    text-align: center;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 10px;
}

.social-media-links p {
    margin-bottom: 5px;
}
/***** About Us page *****/

/***** Category page *****/
.blog-section {
    border-top: 1px solid lightgrey;
}

.category-blog-item {
    margin-bottom: 0;
    padding-bottom: 30px;
}

.category-heading {
    opacity: 0.8;
    font-size: 1.8em;
    margin: 34px;
}
/***** Category page *****/

/***** Blog post page *****/
.blog-item-img:hover {
    cursor: default;
    opacity: 1;
}

.blog-post-item {
    padding-bottom: 0;
}

.blog-item-information h3 {
    font-size: 24px;
}

.blog-item-information-container {
    margin-top: 2rem;
}

.blog-item-text {
    color: black;
    line-height: 24px;
}

.blog-sub-wrapper {
    margin: 20px 0;
}

.blog-sub-wrapper h3 {
    text-align: left;
    font-weight: 400;
    opacity: 0.8;
    font-size: 26px;
}

.blog-sub-wrapper p {
    font-size: 13px;
    text-align: left;
    color: black;
    line-height: 24px;
    margin: 10px 0;
}

@media (min-width: 764px) {
    header, main {
        max-width: 940px;
        margin: 0 auto;
    }
}

